* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  nav .nav-wrapper {
    background-color: #275A34;
    padding: 0px 30px;
    border-bottom: solid 4px #EEDE6F;
  }
  
  nav .nav-wrapper .brand-logo {
    color: #F3D7D1;
  }
  
  @media screen and (max-width: 520px) {
    nav .nav-wrapper .brand-logo {
      font-size: 18px;
    }
  }
  
  nav .nav-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 40%;
    margin-right: 5vw;
  }
  
  nav .nav-wrapper ul li .navlink {
    font-size: 16px;
    font-weight: 700;
  }
  
  nav .nav-wrapper ul li .navlink:hover {
    color: #F3D7D1;
  }
  
  nav .nav-wrapper ul li .active {
    color: #F3D7D1;
    background-color: rgba(0, 0, 0, 0.097);
  }
  
  .sidenav {
    background-color: #F3D7D1;
  }
  
  .sidenav li .navlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    height: 15vh;
  }
  
  .sidenav li .active {
    background-color: rgba(0, 0, 0, 0.097);
  }